.small {
  flex-grow: 0.5;
}

.small__banners {
  display: flex;
}

.small-description {
  font-size: 14px;
  color: rgba(144, 144, 144, 1);
  ;
}

.title {
  color: #000;
}

#ps {
  font-size: 49px;
}
.ps5 {
  display: none;
}
.promax {
  display: none;
}
.vision {
  display: none;
}
.macBook {
  display: none;
}
.info__banner h1 {
  font-size: 29px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 8px;
}

.info__banner p {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.info__banner {
  margin: auto;
}

.Banner__air {
  background: #EDEDED;
  flex-grow: 0.5;
}

.banner__vision {
  background: rgba(53, 53, 53, 1);
  flex-grow: 0.5;
}

.banner__vision h1 {
  color: #fff;
}


.ultra__small {
  display: flex;
}

.equipment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__mac {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.5;
  background: rgba(237, 237, 237, 1);
}


.info__mac {
  margin: auto;
}

#black {
  color: #000;
}

@media (max-width:1390px) {
  .equipment {
    text-align: center;
  }
  .info__mac {
    text-align: center;
  }
}

@media (max-width:1100px) {
  .small__banners {
    display: block;
  }

  @media (max-width:700px) {
    .info__mac h1 {
      font-size: 50px;
    }
    
    .info__mac .description{
      font-size: 20px;
    }
    
  }
@media (max-width:574px) {
  .ultra__small {
    display: block;
  }
  .info__mac  {
    display: block;
  }
}
@media (max-width:400px) {
  #ps {
    font-size: 29px;
  }
  .equipment {
    flex-direction: column;
  }
  .ps, .airpods, .vis, .mac {
    display: none;
  }
  .ps5, .promax, .vision, .macBook {
    display: block;
  }
  .banner__mac {
    flex-direction: column-reverse;
  }
}
}