.card__category__description h3 {
    font-family: SF Pro Display;
    color: black;
    font-size: 33px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;


}

.card__category__description-p {
    color: #909090;
    font-family: SF Pro Display;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;

}

.card__category__item.item-4 h3{
    color: #fff;
}

.btn__black-small{
    font-size: 14px;
    width: 162px;
    height: 48px;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
}

.btn__white-small{
    font-size: 14px;
    width: 162px;
    height: 48px;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
}