
  /* -----------------------Checkbox------------------------ */
  .Checkbox{
  
  }
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #D3D3D3;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox:checked+label::before {
    border-color: #000000;
    background-color: #000000;
    background-image: url("../../../../public/images/check-mark.svg");
  }
  /* -----------------------Checkbox_text------------------------ */
  .checkbox_number{
    margin-left: 4px;
    margin-top: 2px;
    color: #929292;
    font-size: 12px;
  }
  .container_checkboxes {
    opacity: 0;
    transform: translateY(-10px);
    display: none;
    transition: 0.5s;
  }

.container_checkboxes.active {
    transform: translateY(0);
    opacity: 1;
    display: block;
    transition: 0.5s;
  }
.arrow_open{
  transform: translateY(0) rotate(180deg);
  transition: 0.5s;
}
.arrow{
  transition: 0.5s;
}
.filters_border{
  border-bottom: 0.5px solid #B5B5B5;
  padding-bottom: 12px;
}
.price_border{
  border: 0.5px solid #9F9F9F;
}